<div class="d-flex align-items-center p-3 my-3 text-center bg-dark rounded w-50 mx-auto">
  <h6 class="text-light m-auto">New Biller</h6>
</div>

<div class="my-3 p-3 bg-white rouded box-shadow w-50 mx-auto">
  <div class="form-group">
    <label for="first-name-input">Company Name</label>
    <input type="text" id="first-name-input" class="form-control" [(ngModel)]="billerForm.companyName">
    <div class="alert alert-danger mt-2" *ngIf="!isCompanyNameValid">Company name must not be blank and contains only A-z and a-z</div>
  </div>

  <div class="text-center mt-4">
    <button class="btn btn-dark text-center w-50" (click)="createBiller()">Create</button>
  </div>
</div>
