<div class="d-flex align-items-center p-3 my-3 text-center bg-dark rounded">
  <h6 class="text-light m-auto">Payments</h6>
</div>

<div class="my-3 p-3 bg-white rouded box-shadow">
  <div class="border-bottom border-gray pb-2 mb-0 d-flex justify-content-between">
    <div class="d-flex">
      <select class="mx-1 custom-select" [(ngModel)]="customerId" (change)="onChangeSelector()">
        <option value="0">All</option>
        <option *ngFor="let customer of customers" [value]="customer.id">{{ customer.firstName }} {{ customer.lastName }}</option>
      </select>

      <select class="mx-1 custom-select" [(ngModel)]="billerId" (change)="onChangeSelector()">
        <option value="0">All</option>        
        <option *ngFor="let biller of billers" [value]="biller.id">{{ biller.companyName }}</option>
      </select>
    </div>
    <div>
      <a href="/payments/new" class="btn btn-dark text-light">New Payment</a>
    </div>
  </div>
  <table class="table mt-4">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Customer</th>
        <th scope="col">Biller</th>
        <th scope="col">Account</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let payment of filteredPayments">
        <td>{{ payment.date }}</td>
        <td>{{ payment.customer.firstName }} {{ payment.customer.lastName }}</td>
        <td>{{ payment.biller.companyName }}</td>
        <td>{{ payment.account }}</td>
        <td>${{ payment.amount }}</td>
      </tr>
    </tbody>
  </table>
</div>
