<div class="d-flex align-items-center p-3 my-3 text-center bg-dark rounded">
    <h6 class="text-light m-auto">Billers</h6>
  </div>
  
  <div class="my-3 p-3 bg-white rouded box-shadow">
    <div class="border-bottom border-gray pb-2 mb-0 d-flex justify-content-between">
      <div>
        <a href="/billers/new" class="btn btn-dark text-light">New Biller</a>
      </div>
    </div>
    <table class="table mt-4 text-center">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Company Name</th>
          <th class="w-10"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let biller of billers">
          <td>{{ biller.companyName }}</td>
          <td class="w-10">
            <a href="/billers/{{ biller.id }}/edit" class="material-icons bg-primary border-0 rounded text-light p-1 mx-1">
              edit
            </a>
            <button class="material-icons bg-danger border-0 rounded text-light p-1 mx-1" (click)="delete(biller.id)">
              delete_forever
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
